{% extends 'base.html.twig' %}

{% block title %}Company List{% endblock %}

{% block body %}
    <div class="container">
        <div class="mx-auto m-2 p-2 " style="width: 350px;">
            <h2 class="text-center">Company list</h2>
        </div>

        <div class="table-responsive m-2 p-2">
            <table id = "company_list" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration code</th>
                        <th>VAT</th>
                        <th>Address</th>
                        <th>Mobile</th>
{#                        <th>Finances</th>#}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.name }}</td>
                            <td>{{ company.registration_code }}</td>
                            <td>{{ company.details ? company.details.address : '' }}</td>
                            <td>{{ company.details ? company.details.vat : '' }}</td>
                            <td class="text-center"><img src="{{ company.details ? company.details.mobile : '' }}" alt="{{ company.name }} Mobile phone" title="{{ company.name }} Mobile phone" class="img-fluid"/></td>
{#                            <td>{{ company.finances }}</td>#}
                            <td>
                                {#                    <a href="{{ path('app_company_show', {'id': company.id}) }}">show</a>#}
                                {#                    <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>#}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('app_company_new') }}">Create new</a>
        </div>
    </div>

{% endblock %}
